<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="panel/img/favicon.png" rel="icon">
  <link href="panel/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c6d992510a.js" crossorigin="anonymous"></script>
  <!-- Vendor CSS Files -->
  <link href="panel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="panel/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="panel/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="panel/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="panel/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="panel/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="panel/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="panel/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>




  <main>

    
    <div class="container text-center mt-5">
        <h1 style="text-align: center; ">Welcome to NNSA Department</h1>
            <br>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-4">
                <div class="card text-white bg-success border border-dark rounded">
                    <div class="card-body">
                        <h5 class="card-title">Procurement Department</h5>
                        <i class="fas fa-boxes fa-3x my-3"></i>
                        <!-- <a href="#" class="btn btn-light">Login</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="card text-white bg-info border border-dark rounded">
                    <div class="card-body">
                        <h5 class="card-title">Finance Department</h5>
                        <i class="fas fa-dollar-sign fa-3x my-3"></i>
                        <!-- <a href="#" class="btn btn-light">Login</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="card text-white bg-warning border border-dark rounded">
                    <div class="card-body">
                        <h5 class="card-title">Operations Department</h5>
                        <i class="fas fa-cogs fa-3x my-3"></i>
                        <!-- <a href="#" class="btn btn-dark">Login</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="card text-white bg-danger border border-dark rounded">
                    <div class="card-body">
                        <h5 class="card-title">HR Department</h5>
                        <i class="fas fa-users fa-3x my-3"></i>
                        <!-- <a href="#" class="btn btn-light">Login</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="panel/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="panel/vendor/chart.js/chart.umd.js"></script>
  <script src="panel/vendor/echarts/echarts.min.js"></script>
  <script src="panel/vendor/quill/quill.min.js"></script>
  <script src="panel/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="panel/vendor/tinymce/tinymce.min.js"></script>
  <script src="panel/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="panel/js/main.js"></script>

</body>

</html>